[user]
name = divious1
email = josehelps@gmail.com
[alias]
co = checkout
pushm = push origin master
br = branch
ci = commit
st = status
b = branch
pullr = pull --rebase
lg = log -p
[color]
ui = true
[help]
autocorrect = 1
[core]
editor = vim
